@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-gray-800;
}

.trans {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.blur-transition {
  opacity: 0;
  filter: blur(12px);
}

.page-transition {
  transform: translateY(24px);
}

textarea {
  resize: none;
}
